.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: inherit;
}

.content {
    display: flex;
    flex-direction: row;
    flex-grow: auto;
    flex-shrink: 1;
    flex-basis: 1;
}

.headerComponent {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 1;
}