.letters_and_graffic{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}
.home{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.max_component{
    flex-grow: 1;
    
}
.letters_column{
    width: 200px;
}

.fixed_component{
    flex-grow: 0;
    animation: Poyava 0.5s linear infinity; 
    animation-delay: .2s; 
}

@keyframes Poyava {
    // 0%, to {
    //     opacity:.5;
    // }
    // 50% {
    //   opacity:1;
    // }
    from {
        left: 0;
    }
    to {
        left: 300px;
    }
}